global-exclude *.py[cod] 
global-exclude *.gitkeep *.gitignore *.gitattributes *.gitmodules
global-exclude *.egg-info
global-exclude *.dist-info
global-exclude *.so *.dylib *.dll *.lib
global-exclude *.exe *.bin
global-exclude *.o *.a *.so.* *.dylib.* *.dll.*

prune __pycache__/

include *.md
include *.toml
include *.txt
include *.sh
